@media (max-width: 75em) {
  html {
    font-size: 50%;
  }

  .container {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (max-width: 47em) {
  html {
    font-size: 50%;
  }

  .header-container {
    width: 90%;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 100;
    /* margin-right: 2rem; */
  }

  .main-nav {
    position: absolute;
    top: 0;
    right: 0;

    height: 100vh;
    width: 100%;
    transform: translateX(100%);
    background-color: rgba(255, 255, 255, 0.97);
    display: flex;
    justify-content: center;
    padding-top: 14rem;
    transition: all 0.5s;

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) make it unaccesible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it to screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 6.4rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.4rem;
  }

  .contact-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    background-color: #84c3b0;
    transform: translate(0, -15%);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  }

  .details-block {
    box-shadow: none;
    transform: none;
  }

  .block-content {
    font-size: 1.6rem;
  }

  .block-icon {
    font-size: 4rem;
  }

  .footer-mobile {
    display: flex;
    flex-direction: column;
    margin: 5rem 5rem;
  }

  .flex {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 6.6rem;
    gap: 2rem;
  }

  .gallery-item {
    border-radius: 11px;
  }

  .services-grid {
    text-align: center;
  }

  .testimonial-section {
    text-align: center;
  }

  /* SERVICES PAGE */

  .service-cards {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 6rem;
  }

  /* PRESCRIPTIONS PAGE */

  .prescriptions-grid {
    display: flex;
    flex-direction: column;
  }

  .nomination-form form {
    padding: 0 5rem;
  }

  /* CONTACT PAGE */

  .contact-details {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .google-map {
    width: 90%;
    height: 40rem;
  }

  .get-in-touch {
    width: auto;
  }
}
