@media (max-width: 75em) {
  html {
    font-size: 50%;
  }

  .container {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (max-width: 47em) {
  html {
    font-size: 45%;
  }

  .contact-block {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    background-color: #84c3b0;
    transform: translate(0, -50%);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  }

  .details-block {
    box-shadow: none;
    transform: none;
  }

  .block-content {
    font-size: 1.6rem;
  }

  .block-icon {
    font-size: 4rem;
  }

  .footer-small {
    display: flex;
    flex-direction: column;
    margin: 5rem 5rem;
  }

  .flex {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 6.6rem;
  }

  .services-grid {
    text-align: center;
  }

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    position: absolute;
    top: 0;
    left: 0;

    height: 80vh;
    width: 100%;
    transform: translateX(100%);
    background-color: rgba(255, 255, 255, 0.97);
    display: flex;
    justify-content: center;
    padding-top: 14rem;
    transition: all 0.5s;

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) make it unaccesible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it to screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 6.4rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.4rem;
  }
}
