/* COLOURS

MAIN COLOR: #84C3B0
SHADES: #6a9c8d #4f756a


*/

/* GENERAL/REUSABLE CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
  max-width: 130rem;
  margin-left: auto;
  margin-right: auto;
}

.heading-primary {
  font-size: 6.2rem;
  line-height: 1.05;
  margin-bottom: 6.4rem;
  letter-spacing: 1px;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 4.2rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  /* margin-bottom: 9.6rem; */
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  display: inline-block;
  transition: all 0.3s;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #84c3b0;
  font-weight: 600;
}

.btn--outline:active,
.btn--outline:hover {
  background-color: transparent;
  /* trick to get border inside and not cause movement */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--full:link,
.btn--full:visited {
  background-color: #84c3b0;
  color: #333;
  font-weight: 600;
}

.btn--full:active,
.btn--full:hover {
  background-color: #4f756a;
}

.margin--right {
  margin-right: 1.6rem !important;
}

/* TOP-BANNER */

.top-banner {
  display: flex;
  gap: 2rem;
  height: 5rem;
  background-color: #333;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 0 auto 0 auto;
}

.time-icon {
  font-size: 3.2rem;
}

.opening-hours {
  font-size: 1.6rem;
}

/* HEADER */

.header {
  width: 100%;
  background-color: white;
  height: 9.6rem;
  position: sticky;
  display: flex;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

.header-container {
  width: 80%;
  background-color: white;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.logo {
  height: 7.4rem;
  /* width: 30rem; */
  /* justify-self: center; */
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  text-transform: capitalize;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #84c3b0;
  transition: color 0.3s;
}

.main-nav-link.nav-contact-us:link,
.main-nav-link.nav-contact-us:visited {
  padding: 1.2rem 2.4rem;
  background-color: #84c3b0;
  border-radius: 11px;
  transition: 0.3s;
}

.main-nav-link.nav-contact-us:hover,
.main-nav-link.nav-contact-us:active {
  background-color: #6a9c8d;
  color: #333;
}

/* WELCOME SECTION */

.section-welcome {
  background-image: linear-gradient(
      rgba(37, 34, 34, 0.8),
      rgba(37, 35, 35, 0.8)
    ),
    url(../img/armstrongs-pharmacy.jpeg);
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  color: #fff;
  padding: 14rem 0 21rem 0;
}

.welcome {
  align-items: center;
  justify-content: center;
  /* max-width: 146rem;
  margin-left: auto;
  margin-right: auto; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
}

/* CONTACT BLOCK */

.contact-block {
  display: flex;
  justify-content: space-between;
}

.details-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  width: 38rem;
  height: 18rem;
  background-color: #84c3b0;
  color: #fff;
  transform: translate(0, -50%);
  border-radius: 11px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

.block-icon {
  font-size: 5rem;
}

.block-content {
  font-size: 2.5rem;
  font-weight: 500;
}

.phone-link:hover,
.phone-link:active,
.phone-link:link,
.phone-link:visited {
  text-decoration: none;
  color: #fff;
}

.email-text {
  font-size: 2rem;
}

.contact-link:active,
.contact-link:hover,
.contact-link:link,
.contact-link:visited {
  color: #fff;
  text-decoration: none;
}

/* ABOUT US SECTION  */

.about-us-section {
  align-items: center;
  justify-content: center;
}

.about-us-content {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 3.6rem;
}

.norman-armstrong-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.norman-armstrong {
  height: 46rem;
  transition: 0.3s;
  outline: #84c3b0 solid 1rem;
  border-radius: 11px;
}

.norman-armstrong:hover {
  transform: scale(105%);
  transition: 0.3s;
}
