/* COLOURS

MAIN COLOR: #84C3B0
SHADES: #6a9c8d #4f756a


*/

/* GENERAL/REUSABLE CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
}

.heading-primary {
  font-size: 5rem;
  line-height: 1.05;
  margin-bottom: 4.8rem;
  letter-spacing: 1px;
}

.heading-secondary {
  font-size: 4rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 4.2rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  /* margin-bottom: 9.6rem; */
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  display: inline-block;
  transition: all 0.3s;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #4f756a;
  font-weight: 600;
}

.btn--outline:active,
.btn--outline:hover {
  background-color: transparent;
  /* trick to get border inside and not cause movement */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--full:link,
.btn--full:visited {
  background-color: #84c3b0;
  color: #333;
  font-weight: 600;
}

.btn--full:active,
.btn--full:hover {
  background-color: #4f756a;
}

.margin--right {
  margin-right: 1.6rem !important;
}

.line-break {
  width: 25%;
}

.sub-page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.8rem 0 4.8rem 0;
  color: #fff;
  background-color: #84c3b0;
  margin-bottom: 4.8rem;
}

.sub-page-title h3 {
  font-size: 3rem;
  line-height: 1.2;
}

/* TOP-BANNER */

.top-banner {
  display: flex;
  gap: 1rem;
  height: 5rem;
  background-color: #333;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 0 auto 0 auto;
}

.time-icon {
  font-size: 2.8rem;
}

.opening-hours {
  font-size: 1.4rem;
}

/* HEADER */

.header {
  width: 100%;
  background-color: white;
  height: 7.4rem;
  position: sticky;
  display: flex;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

.header-container {
  width: 80%;
  background-color: white;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.logo {
  height: 6.4rem;
  /* width: 30rem; */
  /* justify-self: center; */
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  text-transform: capitalize;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.6rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #84c3b0;
  transition: color 0.3s;
}

.main-nav-link.nav-contact-us:link,
.main-nav-link.nav-contact-us:visited {
  padding: 1.2rem 2.4rem;
  background-color: #84c3b0;
  border-radius: 11px;
  transition: 0.3s;
}

.main-nav-link.nav-contact-us:hover,
.main-nav-link.nav-contact-us:active {
  background-color: #6a9c8d;
  color: #333;
}

/* MOBILE NAV */

.btn-mobile-nav {
  display: block;
  border: none;
  cursor: pointer;
  display: none;
  background-color: #84c3b0;
  border-radius: 3px;
  padding: 2px;
}

.icon-mobile-nav {
  height: 4rem;
  width: 4rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* WELCOME SECTION */

.section-welcome {
  background-image: linear-gradient(
      rgba(37, 34, 34, 0.8),
      rgba(37, 35, 35, 0.8)
    ),
    url(../img/armstrongs-pharmacy.jpeg);
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  color: #fff;
  padding: 9.6rem 0 19.2rem 0;
}

.welcome {
  align-items: center;
  justify-content: center;
  /* max-width: 146rem;
  margin-left: auto;
  margin-right: auto; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
}

.google-map1 {
  width: 100%;
  height: 40rem;
}
/* CONTACT BLOCK */

.contact-block {
  display: flex;
  justify-content: space-between;
}

.details-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  width: 32rem;
  height: 16rem;
  background-color: #84c3b0;
  color: #fff;
  transform: translate(0, -50%);
  border-radius: 11px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

.block-icon {
  font-size: 4.6rem;
}

.block-content {
  font-size: 2.5rem;
  font-weight: 500;
}

.phone-link:hover,
.phone-link:active,
.phone-link:link,
.phone-link:visited {
  text-decoration: none;
  color: #fff;
}

.email-text {
  font-size: 1.8rem;
}

.contact-link:active,
.contact-link:hover,
.contact-link:link,
.contact-link:visited {
  color: #fff;
  text-decoration: none;
}

/* ABOUT US SECTION  */

.about-us-section {
  align-items: center;
  justify-content: center;
  padding-bottom: 9.6rem;
}

.about-us-content {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 3.6rem;
  margin-top: 3.6rem;
}

.norman-armstrong-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.norman-armstrong {
  height: 46rem;
  transition: 0.3s;
  outline: #84c3b0 solid 1rem;
  border-radius: 11px;
  overflow: hidden;
}

.norman-armstrong:hover {
  transform: scale(105%);
  transition: 0.3s;
}

/* SERVICES SECTION */
.services-section {
  background-color: #84c3b0;
}

.services-grid {
  display: grid;
  grid-template-columns: 40fr 60fr;
}

.gallery-grid {
  display: grid;
}

.service-content {
  padding: 6.4rem;
}

.service-text {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 2.4rem;
}

.gallery-item {
  overflow: hidden;
  position: relative;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 21rem;
  transition: 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.15);
}

.img-text {
  position: absolute;
  color: #fff;
  bottom: 1rem;
  left: 1rem;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
}

/* TESTIMONIAL SECTION */

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9.6rem 0;
}

.reviews {
  width: 100%;
}

/* FOOTER */

.footer-section {
  background-color: #333;
  color: #fff;
  height: 100%;
  padding: 4.8rem 0 4.8rem 0;
}

.footer-heading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: solid 0.1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.footer-list {
  list-style: none;
}

.list-item {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  font-size: 1.6rem;
}

.opening-hours {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.opening-hours-item {
  display: flex;
  justify-content: space-between;
  border-bottom: #fff solid 0.1rem;
  padding: 1rem 0 1rem 0;
  font-size: 1.6rem;
}

/* NEW PAGE */
/* SERVICES PAGE */

.service-cards {
  padding-bottom: 9.6rem;
}

.service-card {
  box-shadow: 0rem 2.2rem 2.2rem rgba(0, 0, 0, 0.14);
  border-radius: 11px;
  overflow: hidden;
  transition: 0.2s;
}

.service-card:hover {
  transform: translateY(-1.5rem);
}

.service-card img {
  height: 21rem;
  width: 100%;
}

.service-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.4rem 2.4rem 3.2rem 2.4rem;
}

.service-title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.service-desc p {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

/* PRESCRIPTIONS PAGE */

.prescriptions-page {
  margin-bottom: 9.8rem;
}

.prescriptions-grid {
  display: grid;
  grid-template-columns: 70fr 30fr;
}

.prescription-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.prescription-desc p {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

#last-p {
  margin-bottom: 0;
}

.form-title {
  text-align: center;
  margin-top: 3rem;
  color: #fff;
  margin-bottom: 0 !important;
}

.nomination-form {
  background-image: linear-gradient(to bottom right, #6a9c8d, #84c3b0, #b5dbd0);
  border-radius: 11px;
  box-shadow: 0rem 2.2rem 2.2rem rgba(0, 0, 0, 0.2);
  position: relative;
  height: 60rem;
}

.nomination-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(250, 229, 211, 0.5);
}

.nomination-form form {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  padding: 0 3rem;
  /* height: 50rem; */
}

.nomination-form label {
  padding: 2rem 0 0.8rem 0;
}

.nomination-form input[type="text"] {
  border: none;
  border-radius: 3px;
  height: 3rem;
  text-indent: 10px;
}

.checkbox {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

#checkbox-text {
  font-size: 1.2rem;
}

.nomination-form input[type="submit"] {
  background-color: #fff;
  border: none;
  border-radius: 11px;
  padding: 1.6rem 2.4rem;
  width: 12rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 4rem;
  text-align: center;

  color: #4f756a;
  font-weight: 600;
  transition: all 0.3s ease;
}

.nomination-form input[type="submit"]:hover {
  box-shadow: 0 0 2.2rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.prescriptions-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prescriptions-img img {
  height: 30rem;
  width: 100%;
  border-radius: 100%;
}

.store-imgs {
  display: flex;
  align-items: center;
}

#apple-logo {
  width: 14rem;
}

#google-logo {
  width: 17.5rem;
}

/* CONTACT PAGE */

.contact-headings {
  text-align: center;
}

.contact-details {
  display: flex;
  justify-content: center;
  gap: 20rem;
  margin-bottom: 9.6rem;
}

.contact-info {
  font-size: 2rem;
  line-height: 1.2;
  width: 20rem;
}

.contact-info span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  color: #6a9c8d;
  font-weight: 500;
}

.contact-info a:active,
.contact-info a:hover,
.contact-info a:visited,
.contact-info a:link {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
  color: #666;
}

#icon {
  font-size: 3rem;
}

.google-map-section {
  display: flex;
  justify-content: center;
}

.google-map {
  width: 75%;
  height: 30rem;
  margin-bottom: 9.6rem;
}

.location {
  text-align: center;
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
}

.get-in-touch {
  background-image: linear-gradient(to top left, #6a9c8d, #84c3b0, #b5dbd0);
  border-radius: 11px;
  padding: 5rem 5rem;
  width: 50%;
  box-shadow: 0rem 2.2rem 2.2rem rgba(0, 0, 0, 0.2);
  margin-bottom: 9.8rem;
}

.git-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 2.4rem;
}

.git-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem 6rem;
}

.git-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.git-form input {
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  width: 100%;
}

.git-form textarea {
  height: 10rem;
  border: none;
  width: 100%;
  resize: none;
  border-radius: 5px;
  padding: 0.8rem;
  font-family: "Rubik", sans-serif;
}

.message {
  grid-column: 2;
  grid-row: 2 / span 2;
}

.git-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(250, 229, 211, 0.5);
}

#git-submit {
  color: #4f756a;
  font-weight: 600;
  transition: all 0.3s ease;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#git-submit:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.form-submit {
  display: flex;
  justify-content: center;
}
